//sass --watch ./public/SCSS/styles.scss:./public/CSS/styles.css

$color-primario: #3498db;
$color-fondo: #ecf0f1;
$fuente-principal: 'Arial', sans-serif;
$tamanio-texto: 16px;

body{
    font-family: $fuente-principal;
    font-size: $tamanio-texto;
    background-color: $color-fondo;
    color: $color-primario;
    margin: 0;
    padding: 0;
}

.contenedor{
    padding: 25px;
}

@mixin tarea($bg,$color, $fw) {
    background-color: $bg;
    color: $color;
    font-weight: $fw;
}

.tarea{
    width: 70%;
    height: auto;
    border-top: 16px solid #a1001b;

    #todoColumn & {
        @include tarea(#ff8f8f, #53000e, 1.5);
        border-top: 16px solid #a1001b;
    }

    #doingColumn & {
        @include tarea(#8ff2ff, #003b53, 1.5);
        border-top: 16px solid #0053a1;
    }

    #doneColumn & {
        @include tarea(#8fff8f, #075300, 1.5);
        border-top: 16px solid #00a11b;
    }
}

.tareaColumn{
    width: 30%;
    display:flex;
    
}
@mixin colums() {
    display: table-row;
    justify-content: center;
    align-items: center;
}

.tablecomplete tr{
    @include colums();
}

.tablecomplete{
    border: 1px solid black;
    width: 100%;
}

.titulo{
    margin:auto;
    padding: 5px;
    color: white;
    font-size: 40px;
    background-color: #001b74;
    text-align: center;
}

.form{
    width: 100%;
    color: white;
    background-color: #81dbff;
    padding: 10px;
    font-weight: 600;
}

@mixin botones($color, $bg, $pd) {
    padding: 0;
    border: none;
    color: $color;
    background-color: $bg;
    padding: $pd;
}

.form {
    display: flex;
    justify-content:left;
    align-items: center;
    width: 100%;
  }
  

.form form{
    display: flex;
}

.agregar{
    @include botones(#a7ffab, #1ba500, 3px);
    margin-left: 1%;
}

.elim-todas{
    @include botones(#ffa7a7, #a50000, 3px);
    margin-left: 1%;
}

.pdf-button{
    @include botones(#a7f5ff, #0071a5, 3px);
    margin-left: 1%;
}

.singtar{
    width: 100%;
    align-items: center;
    justify-content: center;
}

.elim-sing{
    
    width: 100%;
    #todoColumn & {
        @include botones(#ffa7a7, #380000, 3px);
    }
    #doingColumn & {
        @include botones(#a7d4ff, #001d38, 3px);
    }
    #doneColumn & {
        @include botones(#aeffa7, #053800, 3px);
    }
}
.movement{
    width:100%;
}

.movement button{
    width: 100%;
}

.todobutton{
    @include botones(#ffa7a7, #a50000, 3px);
}

.doingbutton{
    @include botones(#a7ffff, #00a59d, 3px);
}

.donebutton{
    @include botones(#a7ffab, #05a500, 3px);
}

.guardarbutton{
    
    #todoColumn & {
        @include botones(#ffffff, #c26666, 3px);
    }
    #doingColumn & {
        @include botones(#ffffff, #669dc2, 3px);
    }
    #doneColumn & {
        @include botones(#ffffff, #66c272, 3px);
    }
}

.tablecomplete{
    width: 100%;
}

.tablecomplete tr th{
    width: 30%;
}

@mixin columnas($bg, $pd){
    background-color: $bg;
    padding: $pd;
}

#todoColumn{
    @include columnas(#ffe0e0, 1px);
}

#doingColumn{
    @include columnas(#e0feff, 1px);
}

#doneColumn{
    @include columnas(#e6ffe0, 1px);
}

tbody tr th{
    color: white;
    background-color: #005374;
}