//sass --watch ./public/SCSS/styles.scss:./public/CSS/styles.css

$color-primario: #3498db;
$color-fondo: #ecf0f1;
$fuente-principal: 'Arial', sans-serif;
$tamanio-texto: 16px;

body{
    font-family: $fuente-principal;
    font-size: $tamanio-texto;
    background-color: $color-fondo;
    color: $color-primario;
    margin: 0;
    padding: 0;
}

.contenedor{
    padding: 25px;
}

@mixin tarea($bg,$color, $fw) {
    background-color: $bg;
    color: $color;
    font-weight: $fw;
}

.tarea{
    @include tarea(#ff8f8f, #53000e, 1.5);
    width: 50%;
    height: auto;
    border-top: 16px solid #a1001b;
}

.tareaColumn{
    width: 30%;
    display:flex;
    
}
@mixin colums() {
    display: table-row;
    justify-content: center;
    align-items: center;
}

.tablecomplete tr{
    @include colums();
}

.tablecomplete{
    border: 1px solid black;
    width: 100%;
}

.titulo{
    margin:auto;
    padding: 5px;
    color: white;
    font-size: 40px;
    background-color: #001b74;
    text-align: center;
}

.form{
    width: 100%;
    color: white;
    background-color: #81dbff;
    padding: 10px;
    font-weight: 600;
}

@mixin botones($color, $bg, $pd) {
    padding: 0;
    border: none;
    color: $color;
    background-color: $bg;
    padding: $pd;
}

.form form{
    display: flex;
    width:100%;
}

.buttons-form{
    display: flex;
    margin-left: 1%;
    width: 25%;
}

.agregar{
    @include botones(#a7ffab, #1ba500, 3px);
}

.elim-todas{
    @include botones(#ffa7a7, #a50000, 3px);
    margin-left: 1%;
}

.singtar{
    width: 100%;
    align-items: center;
    justify-content: center;
}

.elim-sing{
    @include botones(#ffa7a7, #380000, 3px);
    width: 100%;
}
.movement{
    width:100%;
}

.movement button{
    width: 100%;
}

.todobutton{
    @include botones(#ffa7a7, #a50000, 3px);
}

.doingbutton{
    @include botones(#a7ffff, #00a59d, 3px);
}

.donebutton{
    @include botones(#a7ffab, #05a500, 3px);
}

.guardarbutton{
    @include botones(#ffffff, #c26666, 3px);
}